@font-face {
	font-family: Bold;
	src: url("Oxygen/Oxygen-Bold.ttf");
}

@font-face {
  font-family: Regular;
  src: url("Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Light;
  src: url("Oxygen/Oxygen-Light.ttf");
}

h1 {
  font-size: 3vw;
  color: white;
}

h2 {
  font-size: 2vw;
  color: white;
}

.bold {
  font-family: Bold;
}

.regular {
  font-family: Regular;
}

.light {
  font-family: Light;
}

.centered {
  text-align: center;
}

#background-img {
  background: url("background.png") no-repeat center top fixed;
  background-size: cover;
}
