@font-face {
	font-family: Bold;
	src: url("Oxygen/Oxygen-Bold.ttf");
}

@font-face {
  font-family: Regular;
  src: url("Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Light;
  src: url("Oxygen/Oxygen-Light.ttf");
}

h1 {
  color: white;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 10vw;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6vw;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 4vw;
  }
}

h2 {
  color: white;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.5vw;
  }
}

.bold {
  font-family: Bold;
}

.regular {
  font-family: Regular;
}

.light {
  font-family: Light;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.white {
  background-color: white;
}

#background-img {
  background: url("background.png") no-repeat center top fixed;
  background-size: cover;
}

#header-img {
  height: 10em;
}

@media screen and (max-width: 767px) {
    #header-img{
    	background: url("life_narrow.png") no-repeat center;
      background-size: contain;
    }
}

@media screen and (min-width: 768px) {
    #header-img{
    	background: url("life_wide.png") no-repeat center;
      background-size: contain;
    }
}

#car-gif {
  height: 15em;
  background: white url("car.gif") no-repeat center;
  background-size: auto;
}
